<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>My Jupyter Notebook on IBM Watson Studio</h1>

<h3 style="font-weight:bold">Anamika Chowdhury</h3>
<h3 style="font-style:italic">Process Engineer, Lam Research</h3>

<p style="font-style:italic"> I am interested in data-science as it is a strongly emerging topic in today's world where data is available in abundance. Organizations are trying to employ data-based tools to fasten their productions processes. I think learning data-science add to my skill-set greatly. </p>

<h3>Print fibonacci series below</h3>

In [1]:
n1 = 0
n2 = 1
print(n1)
print(n2)

count = 0
while(count<10):
    n2_new = n1 + n2
    n1 = n2
    n2 = n2_new
    print(n2)
    count = count+1

0
1
1
2
3
5
8
13
21
34
55
89

<hr>
<ul> This is a bulleted list
    <li> Item 1</li>
    <li> Item 2</li>
    <li> Item 3</li>
</ul>
<hr>
<ol> This is a numbered list
    <li> Item 1</li>
    <li> Item 2</li>
    <li> Item 3</li>
</ol>
<hr>

<p>Here is a link: </p><a href="https://dataplatform.cloud.ibm.com/gallery">IBM Cloud Gallery</a> 

# Below is a table

| Name | Age | Grade |
| ------ | ------ | ------ |
| ABC | 5 | Nursery |
| DEF | 6 | Kindergarten |